# Petals-specific settings

# how to get your huggingface token: https://huggingface.co/settings/tokens
HUGGINGFACE_TOKEN=your_token_here
# if you host 10+ blocks you can show your name in the swarm monitor page: https://health.petals.dev/
PUBLIC_NAME=your_name
# change this if you want to use a different model check huggingface for available models
#PETAL_MODEL_NAME=bigscience/bloom-560m
PETAL_MODEL_NAME=codellama/CodeLlama-7b-Instruct-hf
# limit the amount of space used with this
PETAL_MAX_DISK_SPACE=60GB